
.date{
    padding: 16px;
    color: #4DA;
    font-size: 24px;
    font-weight: bold;
    flex-grow: 0;
    line-height: 40px;
}

.inputs{
    flex-grow: 1;
    display: flex
}

input[type=number]{
    background: none;
    width: 50%;
    font-size: 24px;
    padding: 8px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #dfdfdf;
    margin-left: 10px;
    color: #777;
    margin: 8px;
    line-height: 40px;
}

input[type=number]:focus{

    border-bottom: 1px solid #4DA;

}



