<div class="bottom-bar--stats">
    <div class="bottom-bar--stat">  
        <small>average calories</small>
        <div>
            {{stats.calsAverage | number:'1.0-0'}}
        </div>
    </div>
    <div class="bottom-bar--stat">
        <small>average calorie offset</small>
        <div>
            {{stats.calsOffsetAvg | number:'1.0-0'}}
        </div>
    </div>
    <div class="bottom-bar--stat">  
        <small>average weight change</small>
        <div>
            {{stats.weightChangeAvg | number:'1.0-2'}}
        </div>
    </div>
</div>
