<!--<md-toolbar>
</md-toolbar>-->
  <md-tab-group>
    <md-tab label="Log In">
      <md-input-container>
        <input md-input placeholder="Email" type="email" required [(ngModel)]="email">
      </md-input-container>

      <md-input-container>
        <input md-input placeholder="Password" type="password" required [(ngModel)]="pass">
      </md-input-container>


      <button md-raised-button 
              color="primary"
              (click)="passwordLogin()">Log In!</button>

      <button md-raised-button (click)="googleLogin()">
        Google Login
      </button>

      <div *ngIf="errorMsg">
        {{errorMsg}}
        
      </div>

      <br />
      <br />
    </md-tab>
    <md-tab label="Sign Up">
      <md-input-container>
        <input md-input placeholder="Email" type="email" required [(ngModel)]="email">
      </md-input-container>

      <md-input-container>
        <input md-input placeholder="Password" type="password" required [(ngModel)]="pass">
      </md-input-container>


      <button md-raised-button 
              color="primary"
              (click)="signUp()">Sign Up!</button>

      <div *ngIf="errorMsg">
        {{errorMsg}}
        
      </div>

      <br />
      <br />
    </md-tab>
  </md-tab-group>






