<!--<top-bar></top-bar>-->
<div class="app-container">
    <app-top-bar></app-top-bar>
    <div class="days-list">
        <app-day-row *ngFor="let day of days" 
                    [data]="day" 
                    (dataChanged)="updateDay($event)">
        </app-day-row>
    </div>
    <app-bottom-bar [calsAverage]="calsAverage" 
                    [calsOffsetAvg]="calsOffsetAvg" 
                    [weightChangeAvg]="weightChangeAvg"
                    (onAddDay)="addDay()">
    </app-bottom-bar>
</div>
