<!--<top-bar></top-bar>-->
<div class="app-container">
    <div class="top-bar">
        <div>
            {{weightAverage}}
        </div>

        <div>
            {{calsAverage}}
        </div>
    </div>
    <div class="days-list">
        <app-day-row *ngFor="let day of days" 
                    [data]="day" 
                    (dataChanged)="updateDay($event)">
        </app-day-row>
    </div>
    <div class="bottom-bar">
        <button (click)="addDay()">Add Day</button>
    </div>
</div>
