
.app-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top-bar,
.bottom-bar{
    height: 56px;
    background: #efefef;
}

.days-list{
    flex: 1;
    overflow-y: auto;
}

app-day-row{
    display: flex;
}


/*button{
    position:fixed;
    bottom:o;
    left:0;
    right:0;
}*/
